.cc-window.cc-banner {
  .cc-btn {
    color: $global-font-color;

    &:hover, &:focus {
      background-color: #ccc;
    }

    [theme=dark] & {
      color: $global-font-color;

      &:hover, &:focus {
        background-color: #fff;
      }
    }
  }

  .cc-btn.cc-deny {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.55);
    color: #fff;

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}
